<%- include('partials/header') -%>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const counters = document.querySelectorAll(".counter span")
    const container = document.querySelector(".stats-section")

    let activated = false;

    window.addEventListener("scroll", () => {
        if(
            pageYOffset > container.offsetTop - container.offsetHeight - 200
            && activated == false
        ) {
            counters.forEach(counter=>{
                counter.innerText =0;

                let count = 0;

                function updateCount() {
                    const target = parseInt(counter.dataset.count);

                    if(count < target) {
                        count+=100;
                        counter.innerText = count;

                        setTimeout(updateCount,10);
                    } else {
                        counter.innerText = target;
                    }
                }
                updateCount();
                activated = true;
            });
        }
    })
})

    const rightArrow = document.querySelector('.right-scroll')
    const leftArrow = document.querySelector('.left-scroll')
    const backgroundContainer = document.querySelector('.hero-section')

    const backgroundImages = [
        '../images/scholarshipauditions.com landing page 2.jpg',
        '../images/scholarshipauditions.com landing page 3.jpg',
        '../images/scholarshipauditions.com landing page 4.jpg',
    ]

    let currentImageIndex = 0;

    function newImage(event) {
        if(event.target === rightArrow) {
        currentImageIndex = (currentImageIndex + 1) % backgroundImages.length;

        } else if (event.target === leftArrow) {
        currentImageIndex = (currentImageIndex - 1 + backgroundImages.length) % backgroundImages.length;
        }
        const imageUrl =   `url(${backgroundImages[currentImageIndex]})`
        backgroundContainer.style.backgroundImage = imageUrl
    }
        rightArrow.addEventListener('click', newImage);
        leftArrow.addEventListener('click', newImage);
</script>

<main>
    <section class="hero-section">
        <div class="slider-arrows">
            <i class="left-scroll fa-solid fa-chevron-left text-white ml-5"></i>
            <i class="right-scroll fa-solid fa-chevron-right text-white mr-5"></i>
        </div>
        <div class="hero-text">
            <h1>Dream Big With Us!</h1>
        </div>
        <div class="hero-logo">
            <img>
        </div>
    </section>
    <section class="about-section">
        <h2>Scholarship Auditions brings multiple resources and opportunities to middle school, high school, and collegiate performing arts students, along with the institutions and associations that support these students.</h2>
    </section>
    <br>
    <section class="cta-section">
        <div class="cta-left">

        </div>
        <div class="cta-middle">
            <div class="cta-l-image">
                <div class="cta-l-link">
                    <h4>Founder, Dr. Randall Bayne</h4>
                    <h4><a href="/founder">His Story</a></h4>
                </div>
            </div>
            <div class="cta-middle-bottom">

            </div>
        </div>
        <div class="cta-right">
            <h2>Why Choose Us</h2>
            <br>
            <h3> Professional Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <br>
            <h3> Unusual Ideas</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <br>
            <h3> Made With Respect</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
        </div>
    </section>
    <section class="stats-section">
        <h2 style="text-align:center">Reaching</h2>
        <br>
        <div class="stats">
            <div class="stat">
                <img>
                <div class="counter">
                    <span id="count1" data-count="3240000">0</span>
                </div>
                <h4>Middle & High School Performing Arts Students</h4>
            </div>
            <div class="stat">
                <img>
                <div class="counter">
                    <span id="count2" data-count="5480000">0</span>
                </div>
                <h4>Middle & High School Performing Arts Students' Parents</h4>
            </div>
            <div class="stat">
                <img>
                <div class="counter">
                    <span id="count3" data-count="215714">0</span>
                </div>
                <h4>Middle & High School Educators</h4>
            </div>
            <div class="stat">
                <img>
                <div class="counter">
                    <span id="count4" data-count="37650">0</span>
                </div>
                <h4>College, University, Conservatory Performing Arts Educators</h4>
            </div>
        </div>
    </section>
    <br>
    <section class="portfolio-section">
        <h2 style="margin: 0 1rem">Our Portfolio</h2>
        <h3 style="margin: 1rem 1rem">Present Offerings</h3>
        <br>
        <div class="sites">
            <a href="https://www.accoladi.com/" target="_blank"><div class="accoladi"></div></a>
            <a href="https://www.nationalscholasticjuniormusiciansawards.com/home" target="_blank"><div class="nsjrma"></div></a>
            <a href="https://www.directorletters.com/home" target="_blank"><div class="director-letters"></div></a>
            <a href="https://www.mymusicfuture.com/" target="_blank"><div class="my-music-future"></div></a>
            <a href="https://betweenbands.org/" target="_blank"><div class="between-bands"></div></a>
            <a href="http://honorensembleconductors.com/" target="_blank"><div class="honor-ensemble-conductors"></div></a>
            <a href="https://www.nationalscholasticmusiciansawards.com/home" target="_blank"><div class="nsma"></div></a>
            <a href="https://www.musiccitybowlband.com/" target="_blank"><div class="music-city-bowl-band"></div></a>
        </div>
    </section>
    <section class="portfolio-section">
        <h2 style="margin: 1rem 1rem">Future Offerings</h2>
        <br>
        <div class="sites">
            <a><div class="hollywood-sightreading"></div></a>
            <a><div class="between-choirs"></div></a>
            <a><div class="american-band-dad"></div></a>
            <a><div class="profet"></div></a>
        </div>
    </section>
    <section class="intern-section">
        <div class="intern-title">
            <h1>Collegiate <br>Internship <br>Program</h1>
        </div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
        <div class="intern"></div>
    </section>
</main>

<%- include('partials/footer') -%>
