<%- include('partials/header') -%>
<main>
    <div>
        <div>
            <img>
        </div>
        <div>
            <h1>Internship Program at ScholarshipAuditions.com</h1>
        </div>
        <div>
            <img>
        </div>
    </div>
    <div>
        <p>Since its inception, ScholarshipAuditions.com has been a beacon of inspiration, offering a
            transformative internship program that has touched the lives of countless aspiring young
            professionals. Our journey began with the 2018 fall internship program, initially welcoming four
            talented students from local Nashville universities. Little did we know that this humble
            beginning would evolve into a profound legacy, shaping the futures of 174 interns from 65
            institutions of higher learning across the globe.</p>
        <p>Each intern class has been a vibrant tapestry of diverse talents, bringing their skills, dreams,
            and aspirations to enrich ScholarshipAuditions.com. It's a testament to the power of
            collaboration, innovation, and unwavering dedication that our internship program has thrived,
            semester after semester.</p>
        <p>Our commitment to creating positive hands-on experiences has been unwavering, and the
            results have been nothing short of remarkable. In 2021, our summer interns played a pivotal role
            in the rebranding of ScholarshipAuditions.com, which transformed into Accoladi. They helped
            reshape our website to be more user-friendly, marking a significant milestone in our journey.</p>
        <p>But the true measure of our success lies in the stories of the interns themselves, whose words
            echo with gratitude and ambition. As they bid farewell to their internship experiences, they
            leave us with invaluable reflections:</p>
    </div>
    <div>
        
    </div>
    <div>
        
    </div>
    <div>
        
    </div>
</main>
<%- include('partials/footer') -%>
