<%- include('partials/header') -%>
<main class="internship" style="border: rgb(34, 133, 186) solid 1px; margin: 4rem; position: relative; z-index: 1;">
    <section class="internship-heading" style="display: flex; justify-content: space-around; flex-direction: row;">
        <div>
            <img src="../images/gradcap.png" alt="grad cap" class="grad-cap">
        </div>
        <div style="border: #ecad34 solid 0.5rem; background-color: hsl(230, 36%, 14%); color: white; padding: 6px; width: 40%; text-align: center; letter-spacing: 4px;">
            <h1>Internship Program</h1>
        </div>
        <div class="grad-cap">
            <img src="../images/gradcap.png" alt="grad cap" class="grad-cap">
        </div>
    </section>
    <section class="internship-info" style="font-size: 2rem;">
        <p>Since its inception, ScholarshipAuditions.com has been a beacon of inspiration, offering a
            transformative internship program that has touched the lives of countless aspiring young
            professionals. Our journey began with the 2018 fall internship program, initially welcoming four
            talented students from local Nashville universities. Little did we know that this humble
            beginning would evolve into a profound legacy, shaping the futures of 174 interns from 65
            institutions of higher learning across the globe.</p>
        <p>Each intern class has been a vibrant tapestry of diverse talents, bringing their skills, dreams,
            and aspirations to enrich ScholarshipAuditions.com. It's a testament to the power of
            collaboration, innovation, and unwavering dedication that our internship program has thrived,
            semester after semester.</p>
        <p>Our commitment to creating positive hands-on experiences has been unwavering, and the
            results have been nothing short of remarkable. In 2021, our summer interns played a pivotal role
            in the rebranding of ScholarshipAuditions.com, which transformed into Accoladi. They helped
            reshape our website to be more user-friendly, marking a significant milestone in our journey.</p>
        <p>But the true measure of our success lies in the stories of the interns themselves, whose words
            echo with gratitude and ambition. As they bid farewell to their internship experiences, they
            leave us with invaluable reflections:</p>
    </section>
    <section class="internship-pictures" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="intern-container" style="padding-left: 3rem; padding-right: 3rem; width: 100%;">
            <div class="intern1" style="display: flex; flex-direction: row; gap: 2rem; margin-bottom: 3rem; align-items: center; justify-content: space-evenly;">
                <div class="intern-image" style="color: white">
                    <img src="../images/intern1.png" alt="Anthony Cash" style="border: white solid 1rem; width: 40rem">
                    <div class="intern-name">Anthony Cash</br>2021 Summer Internship</br>Holy Cross University</div>
                </div>
                <div style="background-color: white; color: black; border: rgb(34, 133, 186) solid 0.5rem; font-style: italic; font-weight: bold; width: 80rem; height: 40rem;">
                    <div class="centered-content">
                        <span>"</span><p style="font-size: 1.1em;">
                            Going into this summer, I was unsure what the future held, and I
                            was anxious about getting an internship or job in a professional
                            industry. I applied and applied, but every opportunity fell through
                            until I got an email from ScholarshipAuditions.com. At first, I didn’t
                            know what to expect, and I was very nervous. However, after a few
                            days, I realized that this was an excellent place to learn and flourish
                            as a professional and as a developing young man.
                        </p>
                        <p style="font-size: 1.1em;">
                            From writing articles to performing commercials,
                            ScholarshipAuditions.com gave me hands-on experience, working
                            with seasoned professionals committed to training the next
                            generation. This internship opened doors for my future that I never
                            thought possible, and God has used ScholarshipAuditions.com to
                            order my steps closer to where He wants me to be.
                        </p>
                        <p style="font-size: 1.1em;">
                            ScholarshipAuditions.com makes a difference in the lives of both
                            the students they serve and the employees and interns they hire.
                            Neither of my parents went to a four-year college, so I went into
                            college with little knowledgeable help. Because of
                            ScholarshipAuditions.com, thousands of young American musicians
                            like me are empowered to realize their collegiate and professional
                            dreams. ScholarshipAuditions.com is truly a driven and excellent
                            company, and it’s been an honor interning with them.<span>"</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="intern2" style="display: flex; flex-direction: row; gap: 2rem; margin-top: 1rem; align-items: center; justify-content: space-evenly;">
                <div style="background-color: white; color: black; border: rgb(34, 133, 186) solid 0.5rem; font-style: italic; font-weight: bold; width: 80rem; height: 40rem; text-align: center;">
                    <div class="centered-content">
                        <p style="font-size: 1.1em;">
                            This summer I had the opportunity to be a graphic design intern at
                            ScholarshipAuditions.com. Currently there are very few internships in
                            my field for currently enrolled college students but after weeks of
                            searching I came in contact with ScholarshipAuditions.com. After being
                            accepted into their program I realized what a positive environment this
                            was for college students getting introduced into the business world.
                        </p>
                        <p style="font-size: 1.1em;">
                            This internship utilized all the skills I learned through my college courses
                            and put them into real world projects. Unlike other internships there was
                            no busy work involved instead we had the opportunity to work on real
                            projects that the company utilized in their research, website, and
                            conferences. As a company focused on helping students, they insured
                            that the interns got the most out of their time and learned how to utilize
                            their unique skills in the real world.
                        </p>
                    </div>
                </div>
                <div class="intern-image">
                    <img src="../images/intern3.png" alt="Bailey Wrenne" class="intern-pic" style="border: white solid 1rem; width: 40rem">
                    <div class="intern-name">Bailey Wrenne</br>2021 Summer Internship</br>Middle Tennessee State University</div>
                </div>
            </div>
        </div>
    </section>
    <section class="intern-video">
        <div style="font-size: 2rem;">
            In the closing week of every internship class, each student embarks in an enlightening
            journey of reflection through an empowering exit interview, paving the way for heartfelt
            written and captivating video references.
        </div>
        <video src=""></video>
        <div style="font-size: 2rem;">
            <p>
                Each semester, our interns have embraced the challenge of working in an economically
                challenged community, fostering resilience and creativity. They've thrived in our
                collaborative corporate culture, where solid goals and deadlines are the building blocks of
                success.
            </p>
            
            <p>
                Our internship program has not only become an integral part of the Nashville business and
                educational community but has also gained recognition on a national level. Today, we
                proudly open our doors to the global community, welcoming talents from all corners of the
                world.
            </p>
            
            <p>
                And here's the most exciting part: Many of our interns have found not just jobs but fulfilling
                careers with ScholarshipAuditions.com. Some have embarked on contract-basis
                opportunities, further enriching their professional journeys.
                At ScholarshipAuditions.com, we don't just offer internships; we offer opportunities to ignite
                passion, expand horizons, and be a part of something bigger than one’s self.
            </p>
        </div>
    </section>
    <section class="internship-list">
        <div style="display: flex; justify-content: center; width: 100%; margin-bottom: 2rem;">
            <div style="color: #ecad34; font-size: 4rem; font-weight: bolder;">Internship Partnering Institutions</div>
        </div>
            <li class="intern-list" style="list-style: none;">
                <ul>American Intercontinental University – Chandler, Arizona</ul>
                <ul>Arizona State University – Tempe, Arizona</ul>
                <ul>Auburn University – Auburn, Alabama</ul>
                <ul>Austin Peay State University – Clarksville, Tennessee</ul>
                <ul>Baylor University – Waco, Texas</ul>
                <ul>Belmont University – Nashville, Tennessee</ul>
                <ul>Benedictine College – Atchison, Kansas</ul>
                <ul>Boston College – Boston, Massachusetts</ul>
                <ul>Boston University – Boston, Massachusetts</ul>
                <ul>Bradley University – Peoria, Illinois</ul>
                <ul>Carnegie Mellon University – Pittsburgh, Pennsylvania</ul>
                <ul>Columbia University Teachers College – New York, New York</ul>
                <ul>DePaul University – Chicago, Illinois</ul>
                <ul>Drexel University – Philadelphia, Pennsylvania</ul>
                <ul>Esprit University - Cebalat, Tunisia</ul>
                <ul>Fairfield University – Fairfield, Connecticut</ul>
                <ul>Fisk University – Nashville, Tennessee</ul>
                <ul>Franklin Pierce University – Rindge, New Hampshire</ul>
                <ul>Full Sail University – Orlando, Florida</ul>
                <ul>George Mason University – Fairfax, Virginia</ul>
                <ul>Harding University -Searcy, Arkansas</ul>
                <ul>Harvard University – Cambridge, Massachusetts</ul>
                <ul>Hofstra University – Long Island, New York</ul>
                <ul>Holy Cross University – Wooster, Massachusetts</ul>
                <ul>Julliard School – New York, New York</ul>
                <ul>Liberty University – Lynchburg, Virginia</ul>
                <ul>Lipscomb University – Nashville, Tennessee</ul>
                <ul>Louisiana State University – Baton Rouge, Louisiana</ul>
                <ul>Middle Tennessee State University – Murfreesboro, Tennessee</ul>
                <ul>Nazareth University – Rochester, New York</ul>
                <ul>New York University – New York, New York</ul>
                <ul>Northwestern College - Orange City, Iowa</ul>
                <ul>Oglethorpe University – Atlanta, Georgia</ul>
                <ul>Pepperdine University – Malibu, California</ul>
                <ul>Rutgers University – New Brunswick, New Jersey</ul>
                <ul>Salisbury University – Salisbury, Maryland</ul>
                <ul>Savannah College of Art and Design – Savannah, Georgia</ul>
                <ul>Southern Methodist University – Dallas, Texas</ul>
                <ul>Southern Virginia University – Buena Vista, Virginia</ul>
                <ul>Stanford University – Stanford, California</ul>
                <ul>Stephens College – Columbia, Missouri</ul>
                <ul>Tennessee State University – Nashville, Tennessee</ul>
                <ul>Trevecca Nazarene University – Nashville, Tennessee</ul>
                <ul>Tufts University – Medford, Massachusetts</ul>
                <ul>University of Alabama – Tuscaloosa, Alabama</ul>
                <ul>University of Alabama at Birmingham – Birmingham, Alabama</ul>
                <ul>University of Binghamton – Binghamton, New York</ul>
                <ul>University of California at Riverside – Riverside, California</ul>
                <ul>University of Central Florida – Orlando, Florida</ul>
                <ul>University of Chicago – Chicago, Illinois</ul>
                <ul>University of Georgia – Athens, Georgia</ul>
                <ul>University of Houston – Houston, Texas</ul>
                <ul>University of Kentucky – Lexington, Kentucky</ul>
                <ul>University of Maryland – College Park, Maryland</ul>
                <ul>University of Massachusetts – Amherst, Massachusetts</ul>
                <ul>University of Mississippi – Oxford, Mississippi</ul>
                <ul>University of Missouri - Columbia, Missouri</ul>
                <ul>University of the South – Sewanee, Tennessee</ul>
                <ul>University of South Carolina – Columbia, South Carolina</ul>
                <ul>University of South Florida – Tampa, Florida</ul>
                <ul>University of Tennessee – Knoxville, Tennessee</ul>
                <ul>University of Tennessee at Chattanooga – Chattanooga, TN</ul>
                <ul>Vanderbilt University – Nashville, Tennessee</ul>
                <ul>Watkins College of Art – Nashville, Tennessee</ul>
                <ul>Western Kentucky University – Bowling Green, Kentucky</ul>
                <ul>Williamson College – Franklin, Tennessee</ul>
                <ul>Yale University – New Haven, Connecticut</ul>
            </li>
        </div>
    </div>
</main>
<%- include('partials/footer') -%>
