<%- include('partials/header') -%>

<main class="ri-page">
    <section class="ri-page-left">
        <h1>Reaching New Heights: <br>Scholarship Audition's<br> Research Influencers</h1>
        <br>
        <p>At ScholarshipAuditions.com, we have our own geek squad. These dedicated individuals are on a mission to illuminate the path for aspiring musicians, parents, and educators as they journey through the dynamic world of collegiate music education and scholarship opportunities.</p>
        <h3>Unveiling a World of Insights</h3>
        <p>Our Research Influencers are the driving force behind discovering the latest trends in applying and auditioning for collegiate schools of music. They delve deep into the realm of scholarships, exploring both institutional and non-institutional avenues. They're the sleuths uncovering how scholastic music teachers guide their students and parents through the entire process, from application to the triumphant moment of acceptance.</p>
        <h3>The Art of Exploration</h3>
        <p>To unearth these invaluable insights, our team immerses themselves in the academic world, poring over the theses and dissertations of music education majors. They orchestrate comprehensive surveys that resonate with the community, and they engage in enlightening conversations with leading experts in the field. The result? A treasure trove of meticulously researched data.</p>
        <h3>Crafting a Symphony of Knowledge</h3>
        <p>Our Research Influencers transform this wealth of information into actionable wisdom. They distill the essence of their findings, weaving a tapestry of knowledge that spans blogs, website content, and captivating video presentations. Their aim is clear: to equip those on the journey with the insights needed to make informed decisions and foster new best practices.</p>
        <h3>Championing a Dynamic Future</h3>
        <p>In their relentless pursuit of knowledge, our team keeps a vigilant eye on the ever-evolving landscape of music education and the performing arts. They remain at the forefront of emerging trends, pioneering technologies, and innovative approaches. Their mission is to empower students, parents, scholastic music educators, and aspiring artists with the tools to adapt and thrive.</p>
        <h3>Harmonizing with a Higher Calling</h3>
        <p>But it doesn't stop at research. Our Research Influencers are fervent advocates for the significance of music education and the performing arts within schools and communities. They champion the cause, raising awareness and rallying support for the bright talents pursuing their dreams in these fields. <br> At ScholarshipAuditions.com, we believe in the power of knowledge, the harmony of innovation, and the melody of advocacy. Our Research Influencers embody these principles, standing as beacons of inspiration, guiding the next generation of musicians towards a future filled with promise and possibility.</p>
    </section>
    <section class="ri-page-right">
        <h1 style="text-align: center;">Special Projects Envisioned By: <br>Scholarship Audition's <br>Research Influencers</h1>
        <br>
        <br>
        <h3>The Professionalism of Collegiate Music Recruiting</h3>
        <br>
        <p>A comprehensive course for school of music recruiters Featuring Dr. Steven Moore - Associate Dean of Undergraduate Studies at the Frost School of Music at the University of Miami</p>
        <br>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1aggx9Ojn6oA8E5BdLAWOUmY42NNfhsxT/preview" width="250" height="140" allow="autoplay"></iframe>
            </div>
            <div style="width: 30rem; text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Introduction</h3>
                <div style="font-size: 1.75rem;">Nine-point plan to achieve success in collegiate music recruiting.</div>
            </div>
        </div>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1JRbpe3azgxTssfy8zUsEnn4MCEM5BSwQ/preview" width="250" height="140" allow="autoplay"></iframe> 
            </div>
            <div style="width: 30rem;  text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Principles and Terms of Recruiting</h3>
                <div style="font-size: 1.75rem;">Describing core terms and fundamentals of recruiting.</div>
            </div>
        </div>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1Q-YpeqWjMzOrRYtK3wagTcIlMtza3HKt/preview" width="250" height="140" allow="autoplay"></iframe>                </video> 
            </div>
            <div style="width: 30rem; text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Goal Setting</h3>
                <div style="font-size: 1.75rem;">Metrics for setting goals and how to track them through each stage of the recruitment process.</div>
            </div>
        </div>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1oKkqSivWWVH5dbSPejT95N9LRfx8NCJt/preview" width="250" height="140" allow="autoplay"></iframe>
            </div>
            <div style="width: 30rem;  text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Building a Funnel for Success</h3>
                <div style="font-size: 1.75rem;">How to chart a funnel by instrument and program for students to achieve success.</div>
            </div>
        </div>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap;  justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1IIkuJLK8TOnlw1Hca0ZglTie0vggYyEK/preview" width="250" height="140" allow="autoplay"></iframe>
            </div>
            <div style="width: 30rem;  text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Identifying Prospective Students</h3>
                <div style="font-size: 1.75rem;">How and where colleges find the best prospective students.</div>
            </div>
        </div>
        <div class="ri-right-sections" style="display: flex; flex-direction: row; flex-wrap: wrap;  justify-content: space-between; align-items: center;">
            <div style="width: 15rem; margin: 2rem;">
                <br>
                <iframe src="https://drive.google.com/file/d/1KNpFdj5zb2va6AIDUEoAwhpWzWuhXs_X/preview" width="250" height="140" allow="autoplay"></iframe> 
            </div>
            <div style="width: 30rem; text-align: right; margin: 3rem;">
                <h3 style="font-weight: bold; color: rgb(247, 242, 242);">Value Proposition</h3>
                <div style="font-size: 1.75rem;">How to articulate the appropriate value proposition for each student and how to stage effective recruiting events.</div>
            </div>
        </div>
        <br>
        <br>
        <p>This is an example of the work of the Research Influencers at ScholarshipAuditions.com</p>
        <br>
    </section>
</main>

<%- include('partials/footer') -%>